:root {
    /* colors */
    --clr-white: 0 0% 100%;
    --clr-black: 240 67% 8%;
    --clr-grey: 240 17% 26%;
    --clr-lightgrey: 240 6% 54%;
    --clr-cyan: 194 48% 49%;
    --clr-yellow: 33 82% 61%;
    --clr-purple: 263 67% 51%;
    --clr-orange: 10 63% 51%;
    --clr-red: 2 68% 53%;
    --clr-brown: 17 73% 46%;
    --clr-mint: 169 73% 44%;
    --clr-blue: 222 87% 56%;

    /* font-sizes */
    --fs-900: 5rem;
    --fs-800: 2.5rem;
    --fs-750: 0.875rem;
    --fs-700: 0.75rem; /* 12px */
    --fs-600: 0.6875rem; /* 11px */
    --fs-500: 0.5625rem;

    /* font-families */
    --ff-serif: "Antonio", serif;
    --ff-sans-cond: "Spartan Bold", sans-serif;
    --ff-sans-normal: "Spartan Regular", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* color */
.bg-white { background-color: hsl( var(--clr-white));}
.bg-black { background-color: hsl( var(--clr-black));}
.bg-grey { background-color: hsl( var(--clr-grey));}
.bg-lightgrey { background-color: hsl( var(--clrlightgreye));}
.bg-cyan { background-color: hsl( var(--clr-cyan));}
.bg-yellow{ background-color: hsl( var(--clr-yellow));}
.bg-purple { background-color: hsl( var(--clr-purple));}
.bg-orange { background-color: hsl( var(--clr-orange));}
.bg-red { background-color: hsl( var(--clr-red));}
.bg-brown { background-color: hsl( var(--clr-brown));}
.bg-mint { background-color: hsl( var(--clr-mint));}
.bg-blue { background-color: hsl( var(--clr-blue));}

.text-white { color: hsl( var(--clr-white) );}
.text-black { color: hsl( var(--clr-black) );}

/* typography */

.ff-serif { font-family: var(--ff-serif);}
.ff-sans-cond { font-family: var(--ff-sans-cond);}
.ff-sans-normal { font-family: var(--ff-sans-normal);}

.letter-spacing-1 { letter-spacing: -1.5px;}
.letter-spacing-2 { letter-spacing: 2.6px;}
.letter-spacing-3 { letter-spacing: 1px;}

.uppercase { text-transform: uppercase}

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-750 { font-size: var(--fs-750); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }


/* ---------------------- */
/* Utility classes */
/* ---------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.clr-title {
    height: 8.6875rem;
    width: 15.94rem;
    flex-direction: column;
}

.ind-clr-title {
    height: 4.5rem;
    width: 100%;
}

/* numbered title for numbers */
.numbered-title {
    font-family: var(--ff-serif);
    font-size: var(--fs-800);
    text-transform: uppercase;
    color: hsl( var(--clr-grey));
    letter-spacing: -1.5px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* ------------------- */
/* Set up body         */
/* ------------------- */
body {
    font-family: var(--ff-serif);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-black) );
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;
    overflow: auto;
}

/* HEADER Universal  */
.mobile-nav-toggle {
    display: none;
}

.planet-tabs a {
    text-decoration: none;
    cursor: pointer;
}

/* add hover efect for text decoration anchor */
.planet-tabs a:hover {
    
}

.primary-navigation {
    list-style: none;
    gap: 0rem;
    padding-inline: 3.1875rem;
    justify-content: space-between;
}

.primary-navigation li {
    margin-inline: 0.5rem;
    cursor: pointer;
}

.primary-navigation li svg {
    display: none;
}

.planet-name {
    font-size: var(--fs-600);
}

.primary-header {
    border-bottom: 1px #97979792 solid;
}

/* ------------------------ */
/* PLANET BODY UNIVERSAL    */
/* ------------------------ */

.planet-img {
    justify-content: center;
    align-items: center;
}

.planet-infos-body {
    text-align: left;
    flex-direction: column;
    align-items: center;
}

.planet-infos-body h2 {
    width: 100%;
}

.planet-infos-body p {
    max-width: 55ch;
    line-height: 1.375rem;
    letter-spacing: 1px;
    opacity: 0.8;    
}

.overview-src,
.structure-src,
.surface-src {
    width: 100%;
}

.planet-infos-body p span {
    opacity: 0.5;
    text-decoration: none;
}

.planet-infos-body p a,
.planet-infos-body p img {
    font-weight: 700;
    opacity: 0.5;
}

.tbldsk-planet-name {
    flex-direction: column;
    width: 17.5625rem;
    justify-content: center;
}

.tbldsk-planet-name button {
    height: 2.5rem;
    background: hsl( var(--clr-black) );
    color: hsl( var(--clr-white) );
    text-align: left;
    padding-inline: 1.25rem;
    font-weight: 700;
    border: 1px solid #97979792;
    letter-spacing: 2px;
    line-height: 25px;
}

.tbldsk-planet-name button span {
    opacity: 0.5;
    margin-right: 1.0625rem;
}

.tbldsk-planet-name button:hover,
.tbldsk-planet-name button:active {
    cursor: pointer;
    background: hsl( var(--clr-cyan));
}


/* --------------- */
/* PLANET FOOTER DESKTOP */
/* --------------- */

.planet-stats {
    flex-direction: row;
    padding-inline: 1.5rem;
    padding-top: 0.875rem;
    margin-top: 2.0625rem;
}

.planet-stats p {
    border: 1px #97979792 solid;
    padding-inline: 1rem;
    justify-content: center;
    width: 10.25rem;
    height: 5.5rem;
}

.planet-stats p span {
    font-weight: 700;
    opacity: 0.5;
}


/* ------------------- */
/* Tablet              */
/* ------------------- */

@media (max-width: 50rem) {

    /* HEADER */
    .primary-header-nav h1 {
        width: 100%;
        text-align: center;
        font-size: 1.75rem;
        padding: 1rem 0 0 0;
    }

    .mbl-planet-name {
        display: none;
    }

    /* BODY */
    .planet-body {
        padding-bottom: 2rem;;
    }

    .planet-img {
        height: 26.8125rem;
    }
    
    .mercury {
        height: 11.5rem;
        width: 11.5rem;
    }

    .planet-infos {
        justify-content: space-around;
    }

    .planet-infos-body {
        flex-direction: column;
    }

    .planet-stats {
        justify-content: space-between;
        padding-inline: 2rem;
    }

    .planet-stats p {
        height: 5rem;
        flex-direction: column;
        font-size: 1.5rem;
    }


}


/* ------------------- */
/* Mobile              */
/* ------------------- */

@media (max-width: 35rem) {

    .tbldsk-planet-name {
        display: none;
    }    

    .primary-navigation {
        --underline-gap: 0.75rem;
        padding: 2.75rem 1.5rem 0rem 1.5rem;
        list-style: none;
        flex-direction: column;
        position: fixed;
        inset: 10% 0 0 0;
        z-index: 1000;
        background-color: hsl( var(--clr-black) );
        gap: 0rem;

        transform: translateX(100%);
        transition: 0.5s;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateY(0);
        transition: 0.5s;
    }

    .primary-header-nav {
        justify-content: space-between;
        line-height: 2.25rem;
        padding: 1.5rem;
        border-bottom: 1px #97979792 solid;
    }

    .primary-header-nav > h1 {
        font-size: 1.75rem;
    }

    .primary-navigation li {
        height: 4.125rem;
        display: flex;
        flex-direction: row;
        border-bottom: 1px #97979732 solid;
        align-items: center;
    }

    .planet-tabs {
        width: 100%;
    }

    .planet-tabs svg {
        margin-right: 1.5625rem;
    }

    .planet-tabs a {
        font-weight: 700;
        line-height: 1.5636rem;
        display: inline-block;
        width: 80%;
        font-size: 1.3rem;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        border: 0;
        background-image: url(./starter-code/assets/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        height: 1.0625rem;
    }

    .mbl-planet-name {
        justify-content: space-between;
        padding-inline: 1.5rem;
        height: 3.0625rem;
        border-bottom: 1px #97979792 solid;

    }

    .mbl-planet-name button {
        height: 100%;
        border: 0;
        background:hsl( var(--clr-black) );
        color: white;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
    }

    .mbl-planet-name button:hover {
        cursor: pointer;
        border-bottom: 4px #419EBB solid;
    }

    /* PLANET BODY */

    .planet-body {
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        background: url(./starter-code/assets/background-stars.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mercury {
        height: 7rem;
        width: 7rem;
    }

    .venus {
        height: 9.625rem;
        width: 9.625rem;
    }

    .earth {
        height: 10.8125rem;
        width: 10.8125rem;
    }

    .planet-infos-body {
        width: 100%;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    /* PLANET STATS */
    .planet-stats {
        flex-direction: column;
        padding-inline: 1.5rem;
    }

    .planet-stats p {
        width: 100%;
        border: 1px #97979792 solid;
        height: 3rem;
        align-items: center;
        padding-inline: 1rem;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.25rem;
    }


}


