:root {
    /* colors */
    --clr-white: 0 0% 100%;
    --clr-black: 240 67% 8%;
    --clr-grey: 240 17% 26%;
    --clr-lightgrey: 240 6% 54%;
    --clr-cyan: 194 48% 49%;
    --clr-yellow: 33 82% 61%;
    --clr-purple: 263 67% 51%;
    --clr-orange: 10 63% 51%;
    --clr-red: 2 68% 53%;
    --clr-brown: 17 73% 46%;
    --clr-mint: 169 73% 44%;
    --clr-blue: 222 87% 56%;

    /* font-sizes */
    --fs-900: 5rem;
    --fs-800: 2.5rem;
    --fs-750: 0.875rem;
    --fs-700: 0.75rem; /* 12px */
    --fs-600: 0.6875rem; /* 11px */
    --fs-500: 0.5625rem;

    /* font-families */
    --ff-serif: "Antonio", serif;
    --ff-sans-cond: "Spartan Bold", sans-serif;
    --ff-sans-normal: "Spartan Regular", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* color */
.bg-white { background-color: hsl( var(--clr-white));}
.bg-black { background-color: hsl( var(--clr-black));}
.bg-grey { background-color: hsl( var(--clr-grey));}
.bg-lightgrey { background-color: hsl( var(--clrlightgreye));}
.bg-cyan { background-color: hsl( var(--clr-cyan));}
.bg-yellow{ background-color: hsl( var(--clr-yellow));}
.bg-purple { background-color: hsl( var(--clr-purple));}
.bg-orange { background-color: hsl( var(--clr-orange));}
.bg-red { background-color: hsl( var(--clr-red));}
.bg-brown { background-color: hsl( var(--clr-brown));}
.bg-mint { background-color: hsl( var(--clr-mint));}
.bg-blue { background-color: hsl( var(--clr-blue));}

.text-white { color: hsl( var(--clr-white) );}
.text-black { color: hsl( var(--clr-black) );}

/* typography */

.ff-serif { font-family: var(--ff-serif);}
.ff-sans-cond { font-family: var(--ff-sans-cond);}
.ff-sans-normal { font-family: var(--ff-sans-normal);}

.letter-spacing-1 { letter-spacing: -1.5px;}
.letter-spacing-2 { letter-spacing: 2.6px;}
.letter-spacing-3 { letter-spacing: 1px;}

.uppercase { text-transform: uppercase}

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-750 { font-size: var(--fs-750); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }


/* ---------------------- */
/* Utility classes */
/* ---------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.clr-title {
    height: 8.6875rem;
    width: 15.94rem;
    flex-direction: column;
}

.ind-clr-title {
    height: 4.5rem;
    width: 100%;
}

/* numbered title for numbers */
.numbered-title {
    font-family: var(--ff-serif);
    font-size: var(--fs-800);
    text-transform: uppercase;
    color: hsl( var(--clr-grey));
    letter-spacing: -1.5px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* ------------------- */
/* Set up body         */
/* ------------------- */
body {
    font-family: var(--ff-serif);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-black) );
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

/* HEADER Universal  */
.mobile-nav-toggle {
    display: none;
}

.planet-tabs a {
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
}

.primary-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5.25rem;
}

.primary-header-nav {
    width: 10rem;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.primary-navigation {
    list-style: none;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    margin-right: 4rem;
    gap: 0rem;
    align-items: center;
}

.underline-indicators > * {
    border: 0;
    border-top: 0.3rem solid hsl( var(--clr-white) / 0);
    background-color: transparent;
}

.underline-indicators-mer > *:hover,
.underline-indicators-mer > *:active,
.underline-indicators-mer > *:focus {
    border-color: hsl( var(--clr-cyan));
}

.underline-indicators-ven > *:hover,
.underline-indicators-ven > *:active,
.underline-indicators-ven > *:focus {
    border-color: hsl( var(--clr-yellow));
}

.underline-indicators-ear > *:hover,
.underline-indicators-ear > *:active,
.underline-indicators-ear > *:focus {
    border-color: hsl( var(--clr-blue));
}

.underline-indicators-mar > *:hover,
.underline-indicators-mar > *:active,
.underline-indicators-mar > *:focus {
    border-color: hsl( var(--clr-orange));
}

.underline-indicators-jup > *:hover,
.underline-indicators-jup > *:active,
.underline-indicators-jup > *:focus {
    border-color: hsl( var(--clr-red));
}

.underline-indicators-sat > *:hover,
.underline-indicators-sat > *:active,
.underline-indicators-sat > *:focus {
    border-color: hsl( var(--clr-brown));
}

.underline-indicators-ura > *:hover,
.underline-indicators-ura > *:active,
.underline-indicators-ura > *:focus {
    border-color: hsl( var(--clr-mint));
}

.underline-indicators-nep > *:hover,
.underline-indicators-nep > *:active,
.underline-indicators-nep > *:focus {
    border-color: hsl( var(--clr-blue));
}


.primary-navigation li {
    display: flex;
    align-items: center;
    margin-inline: 0.5rem;
    height: 100%;   
}

.primary-navigation li svg {
    display: none;
}

.planet-name {
    font-size: var(--fs-600);
}

.primary-header {
    border-bottom: 1px #97979792 solid;
}

/* ------------------------ */
/* PLANET BODY UNIVERSAL    */
/* ------------------------ */

.mbl-planet-name {
    display: none;
}

.planet-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline: 2rem;
}

.planet-img {
    height: 41.125rem;
    width: 50rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.planet-img img:last-child {
    position: absolute;
    width: 10.2rem;
    height: 12.4rem;
    bottom: 50px;
}

.mercury {
    height: 18.125rem;
    width: 18.125rem;
}

.venus {
    height: 25rem;
    width: 25rem;
}

.earth {
    height: 28.2rem;
    width: 28.2rem;
}

.mars {
    height: 21rem;
    width: 21rem;
}

.jupiter {
    height: 36.4rem;
    width: 36.4rem;
}

.saturn {
    height: 41rem;
    width: 41rem;
}

.uranus,
.neptune {
    height: 28.7rem;
    width: 28.7rem;
}

.planet-infos {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.planet-infos-body {
    text-align: left;
    display: flex;
    flex-direction: column;
    height: min-content;
}

.planet-infos-body h2 {
    width: 100%;
}

.planet-infos-body p {
    max-width: 55ch;
    line-height: 1.375rem;
    letter-spacing: 1px;
    opacity: 0.8;
    font-size: var(--fs-600);    
}

.overview-src,
.structure-src,
.surface-src {
    width: 100%;
}

.planet-infos-body p span {
    opacity: 0.5;
    text-decoration: none;
}

.planet-infos-body p a,
.planet-infos-body p img {
    font-weight: 700;
    opacity: 0.5;
}

.tbldsk-planet-name {
    height: min-content;
    width: 17.5625rem;
    flex-direction: column;
    justify-content: center;
}

.tbldsk-planet-name button {
    height: 2.5rem;
    background: hsl( var(--clr-black) );
    color: hsl( var(--clr-white) );
    text-align: left;
    padding-inline: 1.25rem;
    font-weight: 700;
    border: 1px solid #97979792;
    letter-spacing: 2px;
    line-height: 25px;
}

.tbldsk-planet-name button span {
    opacity: 0.5;
    margin-right: 1.0625rem;
}

.mer-grp-btn button:focus,
.mer-grp-btn > .overview [aria-selected="true"],
.mer-grp-btn > .structure [aria-selected="true"],
.mer-grp-btn > .surface [aria-selected="true"] {
    cursor: pointer;
    background: hsl( var(--clr-cyan));
}

.venus-grp-btn button:focus,
.venus-grp-btn > .overview [aria-selected="true"],
.venus-grp-btn > .structure [aria-selected="true"],
.venus-grp-btn > .surface [aria-selected="true"] {
    cursor: pointer;
    background: hsl( var(--clr-yellow));
}

.earth-grp-btn button:focus,
.earth-grp-btn > .overview [aria-selected="true"],
.earth-grp-btn > .structure [aria-selected="true"],
.earth-grp-btn > .surface [aria-selected="true"] {
    cursor: pointer;
    background: hsl( var(--clr-blue));
}

.mars-grp-btn button:focus,
.mars-grp-btn > .overview [aria-selected="true"],
.mars-grp-btn > .structure [aria-selected="true"],
.mars-grp-btn > .surface [aria-selected="true"] {
    cursor: pointer;
    background: hsl( var(--clr-orange));
}


.jupiter-grp-btn button:focus,
.jupiter-grp-btn > .overview [aria-selected="true"],
.jupiter-grp-btn > .structure [aria-selected="true"],
.jupiter-grp-btn > .surface [aria-selected="true"] {
    cursor: pointer;
    background: hsl( var(--clr-red));
}

.saturn-grp-btn button:focus,
.saturn-grp-btn > .overview [aria-selected="true"],
.saturn-grp-btn > .structure [aria-selected="true"],
.saturn-grp-btn > .surface [aria-selected="true"] {
    cursor: pointer;
    background: hsl( var(--clr-brown));
}

.uranus-grp-btn button:focus,
.uranus-grp-btn > .overview [aria-selected="true"],
.uranus-grp-btn > .structure [aria-selected="true"],
.uranus-grp-btn > .surface [aria-selected="true"] {
    cursor: pointer;
    background: hsl( var(--clr-mint));
}

.neptune-grp-btn button:focus,
.neptune-grp-btn > .overview [aria-selected="true"],
.neptune-grp-btn > .structure [aria-selected="true"],
.neptune-grp-btn > .surface [aria-selected="true"] {
    cursor: pointer;
    background: hsl( var(--clr-blue));
}

.tbldsk-planet-name button:hover {
    cursor: pointer;
    background: hsl( var(--clr-grey));
}


/* ----------------------- */
/* PLANET FOOTER DESKTOP */
/* ----------------------- */

.planet-stats {
    flex-direction: row;
    padding-inline: 8rem;
    padding-top: 0.875rem;
    justify-content: space-between;
}

.planet-stats p {
    border: 1px #97979792 solid;
    padding-inline: 1rem;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5rem;
    height: 8rem;
    width: 16rem;
}

.planet-stats p span {
    font-weight: 700;
    opacity: 0.5;
    font-size: 0.6875rem;
}


/* ------------------- */
/* Tablet              */
/* ------------------- */

@media (max-width: 75rem) {

    /* HEADER */
    .primary-header {
        height: 10rem;
        flex-direction: column;
        justify-content: center;
    }

    .primary-header-nav {
        width: 100vw;
        text-align: center;
    }
    .primary-header nav {
        height: 100%;
    }


    .primary-header-nav h1 {
        width: 100%;
        text-align: center;
        font-size: 1.75rem;
    }

    .mbl-planet-name {
        display: none;
    }

    .primary-navigation {
        width: 100vw;
    }

    .underline-indicators > * {
        border: 0;
        border-bottom: 0.3rem solid hsl( var(--clr-white) / 0);
    }
        

    /* BODY */
    .planet-body {
        padding-inline: unset;
        padding-bottom: 2rem;
        flex-direction: column;
    }    

    .planet-img {
        justify-content: center;
        align-items: center;
        height: 26.8125rem;
    }
    
    .mercury {
        height: 11.5rem;
        width: 11.5rem;
    }

    .venus {
        height: 16rem;
        width: 16rem;
    }

    .earth {
        height: 17.8rem;
        width: 17.8rem;
    }

    .mars {
        height: 13.31rem;
        width: 13.31rem;
    }

    .jupiter {
        height: 23.1rem;
        width: 23.1rem;
    }

    .saturn {
        height: 26.4rem;
        width: 26.4rem;
    }

    .uranus {
        height: 18.1rem;
        width: 18.1rem;
    }

    .neptune {
        height: 17.81rem;
        width: 17.81rem;
    }

    .planet-img img:last-child {
        width: 8.2rem;
        height: 10.4rem;    
        bottom: 10px;
    }

    .planet-infos {
        flex-direction: row;
        width: unset;
        justify-content: space-around;;
    }

    .planet-infos-body {
        flex-direction: column;
    }

    .tbldsk-planet-name {
        margin-top: 2rem;
    }

    .planet-stats {
        justify-content: space-evenly;
        padding-inline: 2rem;
        padding: 0 0 1rem 0;
        gap: 0rem;
    }

    .planet-stats p {
        height: 5rem;
        width: 10.25rem;
        font-size: 1.5rem;
    }
}


/* ------------------- */
/* Mobile              */
/* ------------------- */

@media (max-width: 45rem) {

    .tbldsk-planet-name {
        display: none;
    }    

    .primary-navigation {
        justify-content: unset;
        --underline-gap: 0.75rem;
        padding: 1.5rem 1.5rem 0rem 1.5rem;
        list-style: none;
        flex-direction: column;
        position: fixed;
        inset: 10% 0 0 0;
        z-index: 1000;
        background-color: hsl( var(--clr-black) );
        gap: 2rem;
        

        transform: translateX(100%);
        transition: 0.5s;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateY(0);
        transition: 0.5s;
    }

    .primary-header {
        height: unset;
    }

    .primary-header-nav {
        justify-content: space-between;
        line-height: 2.25rem;
        padding: 1.5rem;
        border-bottom: 1px #97979792 solid;
    }

    .primary-header-nav > h1 {
        font-size: 1.75rem;
    }

    .primary-navigation li {
        height: 4.125rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: 1px #97979732 solid;
        align-items: center;
    }

    .primary-navigation li svg {
        display: unset;
    }

    .planet-tabs {
        width: 100%;
    }

    .planet-tabs svg {
        margin-right: 1.5625rem;
    }

    .planet-tabs a {
        font-weight: 700;
        line-height: 1.5636rem;
        display: inline-block;
        width: 80%;
        font-size: 1.3rem;
    }


    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        border: 0;
        background-image: url(./starter-code/assets/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        height: 1.0625rem;
    }

    .mbl-planet-name {
        display: flex;
        justify-content: space-between;
        padding-inline: 1.5rem;
        height: 3.0625rem;
        border-bottom: 1px #97979792 solid;

    }

    .mbl-planet-name button {
        height: 100%;
        border: 0;
        background:hsl( var(--clr-black) );
        color: white;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
    }

    .mbl-planet-name button:hover {
        cursor: pointer;
    }

    .overview-MER:hover,
    .structure-MER:hover,
    .surface-MER:hover {
        border-bottom: 4px hsl( var(--clr-cyan)) solid;
    }

    .overview-VEN:hover,
    .structure-VEN:hover,
    .surface-VEN:hover {
        border-bottom: 4px hsl( var(--clr-yellow)) solid;
    }

    .overview-EAR:hover,
    .structure-EAR:hover,
    .surface-EAR:hover {
        border-bottom: 4px hsl( var(--clr-blue)) solid;
    }

    .overview-MAR:hover,
    .structure-MAR:hover,
    .surface-MAR:hover {
        border-bottom: 4px hsl( var(--clr-orange)) solid;
    }

    .overview-JUP:hover,
    .structure-JUP:hover,
    .surface-JUP:hover {
        border-bottom: 4px hsl( var(--clr-red)) solid;
    }

    .overview-SAT:hover,
    .structure-SAT:hover,
    .surface-SAT:hover {
        border-bottom: 4px hsl( var(--clr-brown)) solid;
    }

    .overview-URA:hover,
    .structure-URA:hover,
    .surface-URA:hover {
        border-bottom: 4px hsl( var(--clr-mint)) solid;
    }

    .overview-NEP:hover,
    .structure-NEP:hover,
    .surface-NEP:hover {
        border-bottom: 4px hsl( var(--clr-blue)) solid;
    }

    /* PLANET BODY */

    .planet-body {
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        background: url(./starter-code/assets/background-stars.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .planet-img {
        width: unset;
    }

    .mercury {
        height: 7rem;
        width: 7rem;
    }

    .venus {
        height: 9.625rem;
        width: 9.625rem;
    }

    .earth {
        height: 10.8125rem;
        width: 10.8125rem;
    }

    .mars {
        height: 8.1rem;
        width: 8.1rem;
    }

    .jupiter {
        height: 14rem;
        width: 14rem;
    }

    .saturn {
        height: 16rem;
        width: 16rem;
    }

    .uranus {
        height: 11rem;
        width: 11rem;
    }

    .neptune {
        height: 10.8rem;
        width: 10.8rem;
    }

    .planet-img img:last-child {
        width: 5.2rem;
        height: 6.4rem;    
        bottom: 70px;
    }

    .planet-infos-body {
        width: 100%;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    /* PLANET STATS */
    .planet-stats {
        flex-direction: column;
        padding-inline: 1.5rem;
        gap: unset;
    }

    .planet-stats p {
        width: 100%;
        border: 1px #97979792 solid;
        height: 3rem;
        align-items: center;
        padding-inline: 1rem;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.25rem;
    }


}


